<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP Management Center - Add Categories </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<?php echo base_url('application/views/styles/general.css'); ?>" rel="stylesheet" type="text/css" />
<link href="<?php echo base_url('application/views/styles/main.css'); ?>" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="category.php?act=list">Product Category</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP Management Center</a> </span><span id="search_id" class="action-span1"> - Add Categories </span>
<div style="clear:both"></div>
</h1>
<!-- start add new category form -->
<div class="main-div">
  <form action="<?php echo site_url('admin/category/update'); ?>" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
	 <table width="100%" id="general-table">
		<tbody>
			<tr>
				<td class="label">Category Name:</td>
				<td><input type="text" name="cat_name" maxlength="20" value="<?php echo $cur_cat['cat_name'] ?>" size="27"> <font color="red">*</font></td>
			</tr>
			<tr>
				<td class="label">Parent Category:</td>
				<td>
					<select name="parent_id">
						<option value="0" <?php echo 0==$cur_cat['parent_id']? 'selected':'' ?>>Top Category</option>
						<?php foreach($cates as $cate): ?>
						<option value="<?php echo $cate['cat_id'] ?>" <?php echo $cate['cat_id']==$cur_cat['parent_id']? 'selected':'' ?>><?php echo str_repeat("&nbsp;&nbsp;", $cate['level']); ?><?php echo $cate['cat_name'] ?></option>
						<?php endforeach ;?>
					</select>
				</td>
			</tr>

			<tr id="measure_unit">
				<td class="label">Unit:</td>
				<td><input type="text" name="unit" size="12" value="<?php echo $cur_cat['unit'] ?>"></td>
			</tr>
			<tr>
				<td class="label">Sort:</td>
				<td><input type="text" name="sort_order" value="<?php echo $cur_cat['sort_order'] ?>" size="15"></td>
			</tr>

			<tr>
				<td class="label">Display or Not:</td>
				<td><input type="radio" name="is_show" value="1" checked="<?php echo $cur_cat['is_show']==1? 'true':'false' ;?>"> Yes<input type="radio" name="is_show" value="0" checked="<?php echo $cur_cat['is_show']==1? 'true':'false' ;?>"> No</td>
			</tr>
			<tr>
				<td class="label">Display in Navigation Bar:</td>
				<td><input type="radio" name="show_in_nav" value="1" checked="<?php echo $cur_cat['is_show']==1? 'true':'false' ;?>"> Yes  <input type="radio" name="show_in_nav" value="0" checked="<?php echo $cur_cat['is_show']==1? 'true':'false' ;?>"> No    </td>

			</tr>
			<tr>
				<td class="label">Set as Homepage Recommand:</td>
				<td>
					<input type="checkbox" name="cat_recommend[]" value="1"> Boutique
					<input type="checkbox" name="cat_recommend[]" value="2"> Latest
					<input type="checkbox" name="cat_recommend[]" value="3"> Hot
				</td>
			</tr>
      <tr>
        <td class="label">Category Description:</td>
        <td>
          <textarea name="cat_desc" rows="6" cols="48"><?php echo $cur_cat['cat_desc'] ?></textarea>
        </td>
      </tr>
      </tbody></table>
      <div class="button-div">
        <input type="submit" value=" Submit ">
        <input type="reset" value=" Reset ">
      </div>
    <input type="hidden" name="cat_id" value="<?php echo $cur_cat['cat_id']?>">
  </form>
</div>



<div id="footer">
	Copyright &copy; WPL @ Fall 2016
</div>

</div>

</body>
</html>
