<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP Management Center - Type Management </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<?php echo base_url('application/views/styles/general.css'); ?>" rel="stylesheet" type="text/css" />
<link href="<?php echo base_url('application/views/styles/main.css'); ?>" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="<?php echo site_url('admin/goodtypes/add');?>">Create Product Type</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP Management Center</a> </span><span id="search_id" class="action-span1"> - Product Type </span>
<div style="clear:both"></div>
</h1>

<form method="post" action="" name="listForm">
<!-- start goods type list -->
<div class="list-div" id="listDiv">

	<table width="100%" cellpadding="3" cellspacing="1" id="listTable">
		<tbody>
			<tr>
				<th>Product Type Name</th>
				<th>Attribute Group</th>
				<th>Attribute Value</th>
				<th>Status</th>
				<th>Operation</th>
			</tr>

    <?php foreach($goodtypes as $goodstype) :?>
  <tr>
    <td class="first-cell" style="background-color: rgb(255, 255, 255);"><span onclick="javascript:listTable.edit(this, 'edit_type_name', 2)"><?php echo $goodstype['type_name']?></span></td>
    <td style="background-color: rgb(255, 255, 255);"></td>
    <td align="right" style="background-color: rgb(255, 255, 255);">19</td>
    <td align="center" style="background-color: rgb(255, 255, 255);"><img src="<?php echo base_url('application/views/images/yes.gif'); ?>"></td>
    <td align="center" style="background-color: rgb(255, 255, 255);">
      <a href="<?php echo site_url('admin/attribute/index'); ?>" title="Attribute List">Attribute List</a> |
      <a href="<?php echo site_url('admin/goodtypes/edit').'/'.$goodstype['type_id']; ?>" title="Edit">Edit</a> |
      <a href="<?php echo site_url('admin/goodtypes/delete').'/'.$goodstype['type_id']; ?>" onclick="listTable.remove(2, 'Delete Category Will Also Remove All Attributes Under this Category \n Do You Want to Delete This Category? ')" title="Delete">Delete</a>
    </td>
  </tr>
  <?php endforeach; ?>

      <tr>
      <td align="right" nowrap="true" colspan="6" style="background-color: rgb(255, 255, 255);">
            <!-- $Id: page.htm 14216 2008-03-10 02:27:21Z testyang $ -->
            <div id="turn-page">
            <?php echo $pageinfo;?>
            </div>
      </td>
    </tr>
  </tbody></table>

</div>
<!-- end goods type list -->
</form>

<div id="footer">
	Copyright &copy; WPL @ Fall 2016 </div>
</div>

</body>
</html>
